* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #264057;
    color: #666666;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden; }
.center {
    position: absolute;
    top: 50px;
    left: 40px;
    height: 299px;
    width: 320px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3); 
}
.notification{
    display: flex;
    justify-content: flex-start;
    width: 320px;
    background-color: #5F98CD;
    height: 60px;
}
.notification__menu{
    width: 150px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
}
.notification__menu__item{
    width: 40px;
    height: 5px;
    background-color: rgb(243, 234, 234);
    margin-top: 10px;
    border-radius: 5px;
}
.notification__word{
    display: flex;
    align-items: center;
    color: white;
}
.notification__menu__circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(231, 216, 216);
    position: absolute;
    top: 18px;
    left: 50px;
}
.notification__menu:hover .notification__menu__circle{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px 4px;
} 
.notification__menu:hover .notification__menu__item{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px 4px;
} 
.container2{
    width: 320px;
    height: 250px;
    padding: 20px;
    padding-left: 30px;
    padding-top: 0px;
}
ul{
    list-style-type:none;
}
li::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:1px solid black;
    float: left;
    margin-right: 10px;
}
ul li{
    margin-top: 20px;
    font-size: 16px;
    animation: ani;
    animation-duration: 2s;
}
ul > li :nth-child(2){
    padding-left: 40px;
}
.horizontalline{
    position: absolute;
    width: 1px;
    height: 250px;
    background-color: grey;
    top: 60px;
    left: 35px;
}
@keyframes ani {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}