*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frame{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #42A7A1;
    padding:50px
}
.header{
    background-color: #F1BA64;
    height: 70px;
    display: flex;
    padding: 20px;
}
.header >div{
    display: inline-block;
    font-size: 10px;
}
.header > div :nth-child(1){
    
    text-align: center;
    color: white; 
}
.header > div :nth-child(1) span{

    font-weight: normal;
    display: inline-block;
}

.header > div :nth-child(2){
    
    text-align: center;
    color: white;
}
.row1{
    text-align: end;
    color: black;
}
.row1 span {
    margin-left: 23px;
}
.row1:first-child::before{
    content: "";
    display: inline-block;
    background-color: red;
    width: 14px;
    height: 2px;
    position: relative;
    top: -5px;
    border-radius: 3px;
}
.row1 :nth-child(2)::before{
    content: "";
    display: inline-block;
    background-color: rgb(48, 74, 205);
    width: 14px;
    height: 2px;
    position: relative;
    top: -5px;
    left: -10px;
    border-radius: 3px;

}
.container{
    height: 200px;
    background-color: white;
}
.line_blue , .line_red{
    position: relative;
}
.line_red svg{
    height: 50px;
    padding-left: 20px;
}
.line_blue svg{
    height: 50px;
    padding-left: 20px;
}
.days{
    padding-left: 20px;
}
.days > div{
    display: inline-block;
}
.point{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    background-color: red;
}
.point1{
    left: 30px;
    top: 43px;
}
.point2{
    left: 69px;
    top: 9px;
}
.point3{
    left: 108px;
    top: 20px;
}
.point4{
    left: 148px;
      top: 8px;
}
.point5{
    left: 185px;
    top: 35px;
}
.point6{
    left: 230px;
      top: 45px;
}
.point7{
    left: 270px;
      top: 18px;
}


.point8{
    left: 30px;
    top: 43px;
}
.point9{
    left: 69px;
    top: 9px;
}
.point10{
    left: 108px;
    top: 20px;
}
.point11{
    left: 148px;
      top: 8px;
}
.point12{
    left: 185px;
    top: 35px;
}
.point13{
    left: 230px;
      top: 45px;
}
.point14{
    left: 270px;
      top: 18px;
}



.point:hover {
    background-color: blue  ;
}
.point:hover::before{
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -30px;
    left: -10px;
    content: "0";
    text-align: center;
    display: block;
    height: 25px;
    width: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}