*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
    width: 700px;
    height: 600px;
    background-color: gray;
}
.candle,
.candle::after,
.candle::before {
    position: absolute;
    background: linear-gradient(90deg,
    rgb(164,38,15),
    rgb(245,1,1),
    rgb(246,49,41),
    rgb(215,7,7),
    rgb(197,37,37),
    rgb(199,17,16),
    rgb(214,50,48),
    rgb(209,26,18));
}
.candle_1{
    width: 140px;
    height: 220px;
    bottom: 80px;
    left: 150px;
    z-index: 2;
}
.candle_2{
    width: 185px;
    height: 260px;
    bottom: 80px;
    left: 400px;
    z-index: 3;
}
.candle_3{
    width: 185px;
    height: 155px;
    bottom: 0;
    left: 250px;
    z-index: 4;
}
.candle::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 30px;
    border-radius: 100%;
    top: -15px;
}
.candle::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 30px;
    border-radius: 100%;
    bottom: -15px;
}

/* positioning ornament */

.ornament{
    position: absolute;
    height: 90px;
    width: 90px;
    /* background-color: blue; */
    left: 0;
    top: 0;
    border-radius: 100%;
}
.ornament_1{
    left: 170px;
    top: 520px;
    z-index: 2;
    background: linear-gradient(rgb(159,1,2),
    rgb(181,3,1),
    rgb(151,44,28));
}
.ornament_2{
    left:65px;
    top: 500px;
    z-index: 3;
    background: radial-gradient(rgb(207,210,155),
    rgb(128,138,101));
}
.ornament_3{
    left: 110px;
    top: 550px;
    z-index: 2;
    background: radial-gradient(rgb(207,210,155),
    rgb(128,138,101));
}
.ornament_4{
    left: 80px;
    top: 420px;
    z-index: 1;
    background: linear-gradient(rgb(159,1,2),
    rgb(181,3,1),
    rgb(151,44,28));
}
.ornament_5{
    left: 435px;
    top:500px;
    background: linear-gradient(rgb(159,1,2),
    rgb(181,3,1),
    rgb(151,44,28));
    z-index: 5;
}
.ornament_6{
    left: 500px;
    top:500px;
    background: radial-gradient(rgb(207,210,155),
    rgb(128,138,101));
    z-index: 4;
}
.ornament_7{
    left: 560px;
    top:470px;
    background: linear-gradient(rgb(159,1,2),
    rgb(181,3,1),
    rgb(151,44,28));
    z-index: 3;
}
.ornament_8{
    left: 550px;
    top:420px;
    z-index: 1;
    background: radial-gradient(rgb(207,210,155),
    rgb(128,138,101));
}
/* ateşle oynama */
.stick{
    height: 40px;
    width: 10px;
    background-color: black;
    position: relative;
}
.stick-1{
    top: -40px;
    left: 65px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
.stick-2{
    top: -40px;
    left: 90px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
.stick-3{
    top: -40px;
    left: 90px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
.fire{
    height: 60px;
    width: 50px;
    position: relative;
    top: -130px;    
}
.fire-1{
    left: 45px;
}
img{
    position: relative;
    width: 60px;
    opacity: 0.6;

}
.fire-1 > img{
    top: -15px;
    left: -3px;
    animation: animation1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.fire-2 > img{
    top: -15px;
    left: 65px; 
    animation: animation1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.fire-3 > img{
    top: -15px;
    left: 65px; 
    animation: animation3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* ateş animasyonları */
@keyframes animation1{
    0%{
        transform: rotate(0deg);
        transform-origin: bottom;
    }
    30%{
        transform: rotate(10deg);
        transform-origin: bottom;
    }
    100%{
        transform: rotate(-10deg);
        transform-origin: bottom;
    }
}
@keyframes animation2{
    0%{
        transform: rotate(0deg);
        transform-origin: bottom;
    }
    30%{
        transform: rotate(20deg);
        transform-origin: bottom;
    }
    100%{
        transform: rotate(-10deg);
        transform-origin: bottom;
    }
}
@keyframes animation3{
    0%{
        transform: rotate(0deg);
        transform-origin: bottom;
    }
    30%{
        transform: rotate(-20deg);
        transform-origin: bottom;
    }
    100%{
        transform: rotate(+10deg);
        transform-origin: bottom;
    }
}

/* end */

/* end */
/* kulp takma :) */
.default-kulp{
    height: 30px;
	background: linear-gradient(90deg,
													rgb(202,200,113),
													rgb(234,197,108),
													rgb(254,244,183),
													rgb(180,169,89),
													rgb(165,150,91),
													rgb(103,108,54));	
    width: 25px;
    border-radius: 10px;
    position: relative;
 
}
.default-full-kulp{
    width: 30px;
    height: 20px;
    background: linear-gradient(90deg,
    rgb(202,200,113),
    rgb(234,197,108),
    rgb(254,244,183),
    rgb(180,169,89),
    rgb(165,150,91),
    rgb(103,108,54));	
    position: relative;
    border-radius: 10px;
}

/* left side */
.kulp-1{
    transform : rotate(-45deg);
    overflow: visible;
    position: relative;
    
}
.kulp-1::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 22px;
    position: absolute;
    top: 0;
    border-radius: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
    left: 0px;  
}
.kulp-1::before{
    content: '';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(255,255,255,0);
    border: 1px solid gold;
    left: 3px;
    top:-7px;


}
.kulp-2{
    transform: translate(30px,40px);
}
.kulp-2::before{
    content: "";
    width: 23px;
    height: 5px;
    background: linear-gradient(90deg,rgb(119,125,65), rgb(232,195,106), rgb(119,125,65));
    display: inline-block;
    position: relative;
    left: 3px;
    border-radius: 3px;
}

.kulp-3{
    transform :rotate(135deg); 
    left: 60px;
    top: 63px;
}
.kulp-3::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 22px;
    position: absolute;
    top: 0;
    border-radius: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
    left: 0px;  
}
.kulp-3::before{
    content: '';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(255,255,255,0);
    border: 1px solid gold;
    left: 3px;
    top:-7px;


}

/* right side */

.kulp-5{
    transform: translate(30px,40px);
}
.kulp-5::before{
    content: "";
    width: 23px;
    height: 5px;
    background: linear-gradient(90deg,rgb(119,125,65), rgb(232,195,106), rgb(119,125,65));
    display: inline-block;
    position: relative;
    left: 3px;
    border-radius: 3px;
}

.kulp-6{
    transform : rotate(-45deg);
    overflow: visible;
    position: relative;
    
}
.kulp-6::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 22px;
    position: absolute;
    top: 0;
    border-radius: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
    left: 0px;  
}
.kulp-6::before{
    content: '';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(255,255,255,0);
    border: 1px solid gold;
    left: 3px;
    top:-7px;
}

.kulp-7{
    transform :rotate(135deg); 
    left: 60px;
    top: 63px;
}
.kulp-7::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 22px;
    position: absolute;
    top: 0;
    border-radius: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
    left: 0px;  
}
.kulp-7::before{
    content: '';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(255,255,255,0);
    border: 1px solid gold;
    left: 3px;
    top:-7px;
}
.kulp-8{
    transform : rotate(45deg);
    overflow: visible;
    position: relative;
    left: 60px;   
}
.kulp-8::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 22px;
    position: absolute;
    top: 0;
    border-radius: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
    left: 0px;  
}
.kulp-8::before{
    content: '';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(255,255,255,0);
    border: 1px solid gold;
    left: 3px;
    top:-7px;
}
.container{
    background-color: white !important;
}

#plate{
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    position: absolute;
    top: 60%;
    z-index: 0;
    border-radius: 30px;
}